@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<p>Welcome, admin! What would you like to do?</p>

<ul>
    <li><a asp-action="Create">Add New Citizen</a></li>
    <li><a asp-action="AddBin">Add New Bin</a></li>
</ul>
