@model IEnumerable<garbage_collection.Models.CollectionModel>

<h1>Colectari</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Bin ID</th>
            <th>Collection Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var collection in Model)
        {
                <tr>
                    <td>@collection.Id</td>
                    <td>@collection.Bin_id</td>
                    <td>@collection.Collection_time</td>
                </tr>
        }
    </tbody>
</table>
